* {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color : #ffffff;
}

#bodyIndex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #11449c;
}

#mainIndex {
    display: flex;
    flex-direction: row;
}
.cabeza{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d3c92;
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d3c92;
    height: 70px;
    width: 100%;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}

nav ul li a {
    text-decoration: none;
    align-content: center;
    color: white;
    padding: 10px;
    height: 50px;
    width: 100px;
}

nav ul li img {
    width: 80px;
    height: 45px;
    margin: 0%;
}

nav ul li form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.checks {
    display: flex;
    align-items: center;
}

.checks label {
    margin-right: 10px;
}

.botonBuscar {
    margin-left: 10px; 
}


.cajaPadre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    background-color: #3057c2;
    box-sizing: border-box;
}
.cajaSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.cajaArticle {
    padding: 10px;
    text-align: center;
}
.cajaArticle img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.tituloSection {
    width: 100%;
    font-size: xx-large;
    margin-left: 20px;
    text-decoration: underline;
}
.detailclick {
    list-style: none;
    color: black;
    text-decoration: none;
}
.nombrePeli {
    font-size: small;
    font-weight: bold;
    justify-content: center;
}

/* detalle pelicula y series*/
.cajapadredetalle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
}
.cajaPadreDetalles {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
}
.detallepeli {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.detalleserie {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.fotoDetalle {
    width: 100%;
}

.cajaBannerDetalle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.sinopsis {
    font-family: 'Times New Roman', Times, serif;
}
.tituloPeli {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
.cajaSinopsis {
    width: 65%;

}
.sinopsis{
    font-size: larger;
}
.rating {
    font-weight: bold;
    font-size: larger;
}
.generoPeli {
    font-size: larger;
}
.estreno {
    font-size: larger;
}
.duracion {
    font-weight: bolder;
}

/* forms */

.botonBuscar, .buttons button, .buscador{
    color: black;
}

.formularios{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 20px;
    box-sizing: content-box;
}

.formularios label{
    font-size: 20px;
    margin-bottom: 10px;
}
.formularios p{
    font-size: 15px;
    color: red;
    margin-bottom: 10px;
}
.formularios div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.formularios input{
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
}

.cuenta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.cuenta a{
    text-decoration: none;
    font-size: 20px;
}
.cuenta p{
    font-size: 20px;
}

.nombregenero {
    font-size: larger;
    font-weight: bold;
    justify-content: center;
}
.nombregenero a{
    text-decoration: none;
}

@media(max-width:480px) {
    /* responsive de detalle de pelis y series */
    html {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #bodyindex {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .cajaPadreDetalles {
        width: 460px;
    }
    nav ul {
        width: 460px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cabeza {
        padding: 2px;
        width: 460px;
        height: 120px;
    }
    nav ul li a {
        font-size: small;
    }
    .sinopsis {
        width: 100%;
    }
    .cajaSinopsis {
        width: 100%;
    }
    /* responsive de home, generos de pelis y series*,y detalle de generos */
    .cajaPadre {
        display: flex;
        flex-direction: column;
        width: 460px;
    }
    .cajaSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 430;
        padding: 0px;
        margin: 0px;
    }
    .cajaArticle {
         width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tituloSection {
        display: flex;
        justify-content: center;
    }
    .nombrePeli {
        font-size: small;
    }
    /*responsive de formularios*/
    .bienvenida{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: large;
    }
    .formularios{
        width: 100%;
        padding: 20px;
    }
    .formularios label{
        font-size: 15px;
    }
    .formularios input{
        font-size: medium;
    }
    .formularios p{
        font-size: 15px;
    }
    .formularios div{
        margin-bottom: 10px;
    }
    .cuenta a{
        font-size: 15px;
    }
    .cuenta p{
        font-size: 15px;
    }
    .cuenta{
        margin-top: 10px;
    }

}

