* {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

#bodyIndex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #1e4fa3;
}

#mainIndex {
    display: flex;
    flex-direction: row;
}
.cabeza{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d3c92;
    color: white;
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d3c92;
    color: white;
    height: 70px;
    width: 100%;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    align-content: center;
    color: white;
    padding: 10px;
    height: 50px;
    width: 100px;
}
nav ul li img {
    width: 80px;
    height: 45px;
    margin: 0%;
}
.cajapadre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    background-color: rgb(0, 251, 255);
    box-sizing: border-box;
}
.cajasection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.cajapeli {
    padding: 10px;
    text-align: center;
}
.cajapeli img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.titulosection {
    width: 100%;
    font-size: xx-large;
    margin-left: 20px;
    text-decoration: underline;
}
.detailclick {
    list-style: none;
    color: black;
    text-decoration: none;
}
.nombrePeli {
    font-size: small;
    font-weight: bold;
    justify-content: center;
}

/* detalle pelicula y series*/
.cajapadredetalle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
}
.cajaPadreDetalles {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
}
.detallepeli {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.detalleserie {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.fotoDetalle1 {
    width: 350px;
    height: 450px;
}
.fotoDetalle2 {
    width: 1000px;
    height: 450px;
}
.cajaBannerDetalle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.sinopsis {
    font-family: 'Times New Roman', Times, serif;
}
.tituloPeli {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
.cajaSinopsis {
    width: 65%;
}
.sinopsis{
    font-size: larger;
}
.rating {
    color: green;
    font-weight: bold;
    font-size: larger;
}
.generoPeli {
    font-size: larger;
}
.estreno {
    font-size: larger;
}
.duracion {
    font-weight: bolder;
}
.fotoDetalle3 {
    width: 100%;
}

/* forms */

form{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 20px;
    box-sizing: content-box;
}

form label{
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}
form p{
    font-size: 15px;
    color: red;
    margin-bottom: 10px;
}
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
form input{
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
}

.cuenta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.cuenta a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.cuenta p{
    font-size: 20px;
    color: #000000;
}